@font-face { font-family: 'panfleta';
             src: url('../typesets/PanfletaStencil-ExtraBold.ttf') format('truetype'); }

body {
    /*    margin: 0; */
    height: 100%; 
    overflow: hidden
}

div {
    margin: 0;
}

.no_margin {
    margin: 0;
}

.no_padding {
    padding: 0;
}

.no_border {
    border: 0;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(30, 133, 56, 1.0)!important;
}

.panel-transparent .panel-body{
    background: rgba(0, 255, 64, 0.8)!important;
}

.background-wall {
    background-image: url("../images/background_wall.png");
    background-size:100% auto;
}

.icon-size {
    font-size: 10%;
}

.background-logo {
    font-family: panfleta, arial;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    color: #00FF40;
    font-size: 90;
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(10deg);     /* IE 9 */
    transform: rotate(10deg);
    margin: 0;
    white-space: nowrap;
}

.img-trash {
    position: absolute;
    width: 100%;
    height: auto;
}

.img-bin {
    width: 100%;
    height: 100%;
}

.area-trash {
    height: 70%;
}

.area-bin {
    height: 30%;
    padding: 0;
}

.area-game {
    display: flex;
    justify-content: center;
}

.th-color {
    color: white;
}

.btn_play{
    color: black; 
}

.txt_yellow{
    font-weight: bold;
    color: yellow;
}

.txt_green{
    font-weight: bold;
    color: green;
}

.txt_blue{
    font-weight: bold;
    color: blue;
}

.txt_brown{
    font-weight: bold;
    color: brown;
}

.txt_black{
    font-weight: bold;
    color: black;
}

.txt_manual{
    color: #00FF40;
}

.backgound_white{
    color: white;
}

.area_next_trash{
    height: 20%;
}

.area_ranking{
    height: 80%;
}


