@font-face { font-family: 'panfleta';
             src: url('../typesets/PanfletaStencil-ExtraBold.ttf') format('truetype'); }

body {
    height: 100%; 
    overflow: hidden
}

div {
    margin: 0;
}

.no_margin {
    margin: 0;
}

.no_padding {
    padding: 0;
}

.no_border {
    border: 0;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
}

.paneltransparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(152, 152, 152, 1.0)!important;
    border-color:#000;
}

.panel-transparent .panel-body{
   background: rgba(200, 200, 200, 0.95)!important;
   height:100%;
}

.background-wall {
    background-image: url("../images/background_wall.jpg");
    background-size: 100% auto;
}

.icon-size {
    font-size: 10%;
}

.background-logo {
    font-family: panfleta, arial;
    text-shadow: -3px 0 black, 0 3px black, 5px 0 black, 0 -3px black;
    color: #989898;
    font-size: 90;
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(10deg);     /* IE 9 */
    transform: rotate(10deg);
    margin: 0;
    white-space: nowrap;
}

.img-trash {
    position: absolute;
    width: 80%;
    height: auto;
}

.img-bin {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 120;
}

.area-trash {
    height: 70%;
}

.area-bin {
    height: 30%;
    padding: 0;
}

.area-road{
    height: 10%;
    position: relative;
    transform: translateY(200%);
    background-color: #595959;
    background: -moz-linear-gradient(top, #595959 0%, #1c1c1c 6%, #2b2b2b 11%, #111111 22%, #000000 24%, #2c2c2c 48%, #474747 60%, #666666 77%, #595959 96%, #4c4c4c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #595959 0%,#1c1c1c 6%,#2b2b2b 11%,#111111 22%,#000000 24%,#2c2c2c 48%,#474747 60%,#666666 77%,#595959 96%,#4c4c4c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #595959 0%,#1c1c1c 6%,#2b2b2b 11%,#111111 22%,#000000 24%,#2c2c2c 48%,#474747 60%,#666666 77%,#595959 96%,#4c4c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */
}

.area-game {
    display: flex;
    justify-content: center;
}

.th-color {
    color: black;
}

.th-background-color{
    background: #f6b552!important;
}

.btn_play{
    color: black; 
}

.txt_yellow{
    font-weight: bold;
    color: yellow;
}

.txt_green{
    font-weight: bold;
    color: green;
}

.txt_blue{
    font-weight: bold;
    color: blue;
}

.txt_brown{
    font-weight: bold;
    color: brown;
}

.txt_black{
    font-weight: bold;
    color: black;
}

.txt_manual{
    color: #00FF40;
}

.background_orange{
    background: #ffd9a0!important;
}

.area_next_trash{
    height: 20%;
    width: 100%;
    margin-bottom: 20%;
}

.area_ranking{
    height: 60%;
    width: 100%;
}

.pnl_sidebar{
    height: 100%;
    width: 100%;
}

.img-trash-next {
    width: auto;
    height: 75%;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal-dialog{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    position: absolute;
}

.btn-play-color{
    background: rgba(200, 200, 200, 1.0)!important;
    border-color: rgba(152, 152, 152, 1.0);
}

.btn-play-color:hover{
    background: rgba(152, 152, 152, 1.0)!important;
    color: #ffffff;
}

.area-score-name {
    height: 50%;
    width: 70%;
    display: inline;
}

.area-score-points {
    height: 50%;
    width: 30%;
    display: inline;
}

.area_score{
    height: 20%;
    width: 100%;
}

.backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.7;
}


